:root {
    --main: rgb(62, 255, 75);
    --black: rgb(0, 0, 0);
    --dark: #000000;
    --gray: #000000;
    
    --light: rgb(255, 255, 255);
    --light-text:#ffffff;
    --gray-text: #ffffff;
}

.text {
    width: 80%;
}