:root {
    --main: rgb(151, 31, 255);
    --black: #fff5ec;
    --dark: #ff77cd;
    --gray: #ff81bc;
    --light: rgb(15, 15, 15);
    --light-text: #2a2725;
    --gray-text: #181615;
}

.text {
    width: 80%;
}