:root {
    --main: rgb(255, 232, 138);
    --black: #fff5ec;
    --dark: #ffaec4;
    --gray: #ff8de8;
    --light: rgb(255, 248, 231);
    --light-text: #ffecb3;
    --gray-text: #ffecb3;
}

.text {
    width: 80%;
}